<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <style>
      .brand-logo{
    margin-left: 45%;
      }
    </style>
</head>
<body>
    <nav>
        <div class="nav-wrapper">
          <a href="#" class="brand-logo">Oops</a>
          <ul id="nav-mobile" class="right hide-on-med-and-down">
          </ul>
        </div>
    
    
      </nav>
    <img src="https://www.gstatic.com/youtube/src/web/htdocs/img/monkey.png" style="display: block; margin-left: auto; margin-right: auto; margin-top: 100px;"> 
    <h1 style="text-align: center;">Error 404</h1> 
</body>
</html>